.o-board {
    font-size: 1rem;

    &__container {
        width: 100%;
        height: 100vh;
        background: url('./images/bg1.jpg') no-repeat center center fixed;
        transition: 800ms ease all;
    }
}

.o-board--flip {
    .o-board {
        &__container {
            transform: rotateZ(180deg);
        }
    }
}
